/* css/style.css */


h1, h2 {
    color: #333;
}

.place-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    gap: 20px;
    padding: 20px;
}

.place-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.place-card img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.place-card h2 {
    margin-top: 10px;
    font-size: 1.2em;
}

.place-card p {
    color: #666;
}

a {
	color: #007bff;
	text-decoration: none;
}

.overflow-hidden {
    height: 51px;
}